<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.Customization">
      <customization
            class="gov.nasa.arc.irg.plan.freeflyer.command.ArmPanAndTilt"
            customization="gov.nasa.arc.irg.plan.ui.widget.customization.ArmPanAndTiltCustomization">
      </customization>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.Customization">
      <customization
            class="gov.nasa.arc.irg.plan.freeflyer.command.ClearData"
            customization="gov.nasa.arc.irg.plan.ui.widget.customization.NoParametersCustomization">
      </customization>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.Customization">
      <customization
            class="gov.nasa.arc.irg.plan.freeflyer.command.DownloadData"
            customization="gov.nasa.arc.irg.plan.ui.widget.customization.NoParametersCustomization">
      </customization>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.Customization">
      <customization
            class="gov.nasa.arc.irg.plan.freeflyer.command.PausePlan"
            customization="gov.nasa.arc.irg.plan.ui.widget.customization.NoParametersCustomization">
      </customization>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.Customization">
      <customization
            class="gov.nasa.arc.irg.plan.freeflyer.command.Perch"
            customization="gov.nasa.arc.irg.plan.ui.widget.customization.NoParametersCustomization">
      </customization>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.Customization">
      <customization
            class="gov.nasa.arc.irg.plan.freeflyer.command.Unperch"
            customization="gov.nasa.arc.irg.plan.ui.widget.customization.NoParametersCustomization">
      </customization>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.Customization">
      <customization
            class="gov.nasa.arc.irg.plan.freeflyer.command.Undock"
            customization="gov.nasa.arc.irg.plan.ui.widget.customization.NoParametersCustomization">
      </customization>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.Customization">
      <customization
            class="gov.nasa.arc.irg.plan.model.Segment"
            customization="gov.nasa.arc.irg.plan.ui.widget.customization.SegmentCustomization">
      </customization>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.Customization">
      <customization
            class="gov.nasa.arc.irg.plan.freeflyer.command.Wait"
            customization="gov.nasa.arc.irg.plan.ui.widget.customization.WaitCustomization">
      </customization>
   </extension>
    <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.Customization">
      <customization
            class="gov.nasa.arc.irg.plan.freeflyer.command.GenericCommand"
            customization="gov.nasa.arc.irg.plan.ui.widget.customization.GenericCommandCustomization">
      </customization>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.Wait"
            widget="gov.nasa.arc.irg.plan.ui.widget.WaitWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.Customization">
      <customization
            class="gov.nasa.arc.irg.plan.freeflyer.command.IdlePropulsion"
            customization="gov.nasa.arc.irg.plan.ui.widget.customization.NoParametersCustomization">
      </customization>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.Customization">
      <customization
            class="gov.nasa.arc.irg.plan.freeflyer.command.InitializeBias"
            customization="gov.nasa.arc.irg.plan.ui.widget.customization.NoParametersCustomization">
      </customization>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.Customization">
      <customization
            class="gov.nasa.arc.irg.plan.freeflyer.command.StopRecording"
            customization="gov.nasa.arc.irg.plan.ui.widget.customization.NoParametersCustomization">
      </customization>
   </extension>
</plugin>
