<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.model.Station"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.StationAndPointWidget">
      </binding>
   </extension> 
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.repositionEnabled">
         <with
               variable="repositionEnabled">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
                  id="gov.nasa.arc.verve.freeflyer.workbench.addViaMapEnabled">
         <with
               variable="addViaMapEnabled">
            <equals
                  value="false">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.verve.freeflyer.workbench.scenario.AddViaMapTypedObject"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.AddViaMapWidget">
      </binding>
   </extension> 
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
      
            id="gov.nasa.arc.verve.freeflyer.workbench.insertStationEnable">
         <with
               variable="insertStationEnabled">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.moveUpEnable">
         <with
               variable="moveStationUpEnabled">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.moveDownEnabled">
         <with
               variable="moveStationDownEnabled">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.deleteStationEnabled">
         <with
               variable="deleteStationEnabled">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.appendStationEnabled">
         <with
               variable="appendStationEnabled">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.openPlanEnabled">
         <with
               variable="openPlanEnabled">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.newPlanEnabled">
         <with
               variable="newPlanEnabled">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.closePlanEnabled">
         <with
               variable="closePlanEnabled">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.savePlanEnabled">
         <with
               variable="savePlanEnabled">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.savePlanAsEnabled">
         <with
               variable="savePlanAsEnabled">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.openPlanEnabled">
         <with
               variable="closePlanEnabled">
            <equals
                  value="false">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.newKeepoutEnabled">
         <with
               variable="newKeepoutEnabled">
            <equals
                  value="false">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.openKeepoutEnabled">
         <with
               variable="openKeepoutEnabled">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.saveKeepoutEnabled">
         <with
               variable="saveKeepoutEnabled">
            <equals
                  value="false">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.closeKeepoutEnabled">
         <with
               variable="closeKeepoutEnabled">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.arc.verve.freeflyer.workbench.undoEnabled">
         <with
               variable="undoEnabled">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
      <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.plan.FreeFlyerPlan"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.FreeFlyerPlanWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.PowerOnItem"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.PowerOnItemWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.PowerOffItem"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.PowerOffItemWidget">
      </binding>
   </extension>
    <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.ClearData"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.DataControlWidget">
      </binding>
   </extension>
    <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.DownloadData"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.DataControlWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.Dock"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.DockWidget">
      </binding>
   </extension>
    <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.GripperControl"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.GripperControlWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.SetFlashlightBrightness"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.FlashlightBrightnessWidget">
      </binding>
   </extension>
      <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.SetCameraRecording"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.RecordCameraWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.SetCameraStreaming"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.StreamCameraWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.SetCamera"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.SetCameraWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.model.Segment"
            widget="gov.nasa.arc.irg.plan.ui.widget.SegmentWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.StartGuestScience"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.StartGuestScienceWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.StopGuestScience"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.StopGuestScienceWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.CustomGuestScience"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.CustomGuestScienceWidget">
      </binding>
   </extension>
    <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.SetCheckObstacles"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.SetCheckObstaclesWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.SetCheckZones"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.SetCheckZonesWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.SetHolonomicMode"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.SetHolonomicModeWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.SetPlanner"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.SetPlannerWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.SetTelemetryRate"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.SetTelemetryRateWidget">
      </binding>
   </extension>
   <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.SwitchLocalization"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.SwitchLocalizationWidget">
      </binding>
   </extension>
    <extension
         point="gov.nasa.ensemble.ui.databinding.e4.gov.nasa.ensemble.ui.databinding.widget.BoundWidget">
      <binding
            class="gov.nasa.arc.irg.plan.freeflyer.command.StartRecording"
            widget="gov.nasa.arc.verve.freeflyer.workbench.widget.StartRecordingWidget">
      </binding>
   </extension>
</plugin>
